/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/

// Bootstrap | variables is loaded first
@import './theme/variables';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~animate.css';
@import 'icons/lineIcons';
@import '~font-awesome/css/font-awesome.css';

// icons
$simple-line-font-path        : '~simple-line-icons/fonts/';
$simple-line-font-family      : "san-serif";
@import '~simple-line-icons/scss/simple-line-icons';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// routes
@import 'theme/effects';
@import 'theme/uiswitch';
@import "theme/variables";
