// Flatly 3.2.0
// Bootswatch
// -----------------------------------------------------

@import url($web-font);

// Navbar =====================================================================

.navbar {
  border-width: 0;
}
.navbar-default {

  .badge {
    background-color: #fff;
    color: $navbar-default-bg;
  }
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #999999;
}
.navbar {
  li li:hover,
  li li:focus {
    background-color: transparent;
    color: #999999;
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: rgba(0,0,0,.86);
}

// Navs =======================================================================

.nav-tabs {
  > li > a,
  > li > a:focus {
    margin-right: 0;
    background-color: transparent;
    border: none;
    color: $navbar-default-link-color;
    @include box-shadow(inset 0 -1px 0 #ddd);
    @include transition(all 0.2s);

    &:hover {
      background-color: transparent;
      @include box-shadow(inset 0 -1px 0 $brand-primary);
      color: $brand-primary;
    }
  }

  & > li.active > a,
  & > li.active > a:focus {
    border: none;
    @include box-shadow(inset 0 -1px 0 $brand-primary);
    color: $brand-primary;

    &:hover {
      border: none;
      color: $brand-primary;
    }
  }

  & > li.disabled > a {
    @include box-shadow(inset 0 -1px 0 #ddd);
  }

  &.nav-justified {

    & > li > a,
    & > li > a:hover,
    & > li > a:focus,
    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      border: none;
    }
  }

  .dropdown-menu {
    margin-top: 0;
  }
}

.nav .navbar-social > a {
  padding:0;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
}

.navbar-brand {
  padding: 18.5px 15px 20.5px;
}

header.dashboard-header nav li .avatar {
  width: 24px;
  position: absolute;
  left: 0;
  top: 14px;
}
header.dashboard-header img {
  max-height: 30px;
}
header.dashboard-header li * {
  -webkit-backface-visibility: hidden !important;
}
.avatar {
  border-radius: 100px;
}

// Buttons ====================================================================

.btn:active {
  @include box-shadow(none);
}

.btn-group.open .dropdown-toggle {
  @include box-shadow(none);
}

// Typography =================================================================

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}

.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    a {
      color: #fff;
    }
  }

  > thead > tr > th,
  > tbody > tr > th,
  > tfoot > tr > th,
  > thead > tr > td,
  > tbody > tr > td,
  > tfoot > tr > td {
    border: none;
  }

}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid $table-border-color;
}

// Forms ======================================================================

.form-control,
input, {
  border-width: 2px;
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-warning;
  }

  .input-group-addon {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-danger;
  }

  .input-group-addon {
    border-color: $brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus {
    border: 2px solid $brand-success;
  }

  .input-group-addon {
    border-color: $brand-success;
  }
}

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.pager {
  a,
  a:hover {
    color: #fff;
  }

  .disabled {
    &>a,
    &>a:hover,
    &>a:focus,
    &>span {
      background-color: $pagination-disabled-bg;
    }
  }
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
  color: $brand-primary;
}

%extend_1 {
  border: none;
  color: $color_royal_blue_approx !important;
  background: transparent;
}


.nav-tabs {
  border-bottom: 2px solid $color_alto_approx;
  > li {
    &.active {
      > a {
        border-width: 0;
        @extend %extend_1;
        &:focus {
          border-width: 0;
        }
        &:hover {
          border-width: 0;
        }
      }
      > a::after {
        transform: scale(1);
      }
    }
    > a {
      border: none;
      color: $color_storm_dust_approx;
      &:hover {
        @extend %extend_1;
      }
    }
    > a::after {
      content: "";
      background: $color_royal_blue_approx;
      height: 2px;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -1px;
      transition: all 250ms ease 0s;
      transform: scale(0);
    }
    &:hover > a::after {
      transform: scale(1);
    }
  }
}

.tab-pane {
  padding: 15px 0;
}

.tab-content {
  padding: 20px;
}

.card {
  background: $white none repeat scroll 0 0;
  box-shadow: 0 1px 3px $black_30;
  margin-bottom: 30px;
}

.tab-nav > li > a::after {
  background: $color_chathams_blue_approx none repeat scroll 0 0;
  color: $white;
}


// Indicators =================================================================

.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 1;
  }
}

.alert {

  .alert-link {
    color: #fff;
    text-decoration: underline;
  }
}

// Progress bars ==============================================================

.progress {
  height: 10px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 10px;
    line-height: 10px;
  }
}

// Containers =================================================================

.well {
  @include box-shadow(none);
}

.panel-default {
  .close {
    color: $text-color;
  }
}

.modal {
  .close {
    color: $text-color;
  }
}

.popover {
  color: $text-color;
}

// Container =================================================================

.container {
  min-width: 1064px;
  max-width: 1064px;
  min-width: 1046px;
  max-width: 1046px;
  max-width: 1016px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px){
.container {
  width: 1170px;
}
}
@media (min-width: 992px){
.container {
  width: 970px;
}
}
@media (min-width: 768px){
.container {
  width: 750px;
}
}

// Header =================================================================


//colors
$white_header: rgba(255,255,255,0.9);
$seashell: #f1f1f1;

@media (min-width: 992px){
  header.dashboard-header {
    position: fixed;
    width: auto;
  }
}

header.dashboard-header {
  z-index: 1000;
  background: transparent;
  font-size: 14px;
  position: fixed;
  padding: 10px 0 10px 0;
  top: 0;
  background: $white_header;
  position: fixed;
  left: 0;
  right: 0;
  height: 69px;
  border-bottom: 1px solid $seashell;
}
